<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가입하기</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link href="../../static/CSS/auth.CSS" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <h1>회원가입</h1>
        <form>
          <div class="id_Wrap">
            <label for="input_Id" class="form-label">ID</label>
            <input
              type="text"
              id="input_Id"
              class="form-control"
              aria-describedby="idHelpBock"
              name="id"
            />
            <div id="idHelpBlock" class="form-text">
              아이디는 8자 ~ 10자 이내의 영문과 숫자를 함께 사용하여야합니다.
            </div>
          <br>
          </div>
          <div class="password_Wrap">
            <label for="inputPassword5" class="form-label">Password</label>
            <input
              type="password"
              id="inputPassword5"
              class="form-control"
              aria-describedby="passwordHelpBlock"
              name="password"
            />
            <div id="passwordHelpBlock" class="form-text">
              비밀번호는 8자 이내의 영어 대문자 및 소문자와 숫자, 그리고
              특수문자를 혼용하여야 합니다.
            </div>
          </div>
          <div class="container-sm">
            <input type="submit" value="확인">   
          </div>             
        </form>
       </div> 
      <div class="col"></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
